<div id="<%= dom_id game %>">
  <p>
    <strong>人間側のプレイヤの名前:</strong>
    <%= game.human_you_name %>
  </p>

  <p>
    <strong>害虫側のプレイヤの名前:</strong>
    <%= game.pest_you_name %>
  </p>

  <%- if game.finished_at %>
    <p>
    <strong>Finished at:</strong>
    <%= game.finished_at %>
    </p>
  <%- end %>

</div>
