<div id="<%= dom_id game %>">
  <p>
    <strong>Player name:</strong>
    <%= game.player_name %>
  </p>

  <%- if game.finished_at %>
    <p>
    <strong>Finished at:</strong>
    <%= game.finished_at %>
    </p>
  <%- end %>

</div>
