<div id="<%= dom_id game_match %>">
  <p>
    <strong>人間側のプレイヤの名前:</strong>
    <%= game_match.human_you_name %>
  </p>

  <p>
    <strong>害虫側のプレイヤの名前:</strong>
    <%= game_match.pest_you_name %>
  </p>

  <%- if game_match.finished_at %>
    <p>
    <strong>Finished at:</strong>
    <%= game_match.finished_at %>
    </p>
  <%- end %>

</div>
